a.button {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  margin-top: 20px;
}
.ranking-list {
  list-style:none;
  padding: 0;
}
.ranking-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.rank {
  font-weight: bold;
  margin-right: 10px
}

header {
  position: relative;
  height: 100px;
}

#logo1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: auto;
}

